body {
    font-family: Arial, sans-serif;
    background-color: #babad6;
    margin: 0;
    padding: 0;

}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #9494fe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;

}

.inputs {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 5px;

}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #bf95e6;
    background-color: #dedefb;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #5050a9;
    color: #09090a;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
    background-color: #694da1;

}

#resultado {
    margin-top: 20px;

}